body{
    
    background-color:  hsl(217, 54%, 11%);
}
.container{
    background-color: hsl(216, 50%, 16%);
    width: 300px;
    margin: auto;
    border-radius: 10px;

    

}
.image>img{
    width: 80%;
    padding:auto;
    border-radius: 12px;
    height: 300px;
    object-fit: cover;
    margin: auto;
padding-top: 30px;
padding-bottom: 30px;
padding-left: 30px;
}
.image>h2{
    color: hsl(0, 0%, 100%);
    padding-left: 30px;
}
.image>h3{
    color: rgb(164, 163, 163);
font-size: 13px;
    padding-left: 30px;
    padding-right: 40px;
}
.content{
    gap: 2em;
    justify-content: space-between;
    
    padding-left: 30px;
    font-size: 12px;

}
.footer>img{
    width: 60px;
    border-radius: 50%;
}
.footer>p{
    color:white;
}
.white{
color: hsl(215, 46%, 43%);
}
.content{
    display: flex;
    padding-right: 21px;
    
}
.eth{
    color: #00FFF8;
}
.tex{
    color:#8BACD9 ;
}
.footer{
    display: flex;
    
    gap:2em;
}
